{{!-- Damage grid for body locations (3x2 grid) --}}
{{!-- Expects: aggregatedDamage object with location keys and damage values --}}
{{!-- Expects: areaDamages object with raw hit data for expandable details --}}
<div class="damage-grid" data-damages="{{json areaDamages}}">
    {{!-- Expandable detail area (hidden by default, shown when clicking a cell) --}}
    <div class="damage-grid__expand damage-grid__expand--hidden">
        <div class="damage-grid__expand-content"></div>
    </div>

    {{!-- Row 1: Left Arm, Head, Right Arm --}}
    <div class="damage-grid__row">
        {{#bodyGridRow "row1"}}
        <div class="damage-grid__cell {{#if (locationWasHit ../aggregatedDamage location)}}damage-grid__cell--hit{{else}}damage-grid__cell--empty{{/if}}" data-location="{{location}}">
            {{#if (locationWasHit ../aggregatedDamage location)}}
            <span class="damage-grid__value">{{getLocationDamage ../aggregatedDamage location}}</span>
            {{else}}
            <span class="damage-grid__icon damage-grid__icon--muted">
                <img src="systems/cp2020/img/chat/{{iconName}}.svg" alt="{{CPLocal iconName}}">
            </span>
            {{/if}}
        </div>
        {{/bodyGridRow}}
    </div>
    {{!-- Row 2: Left Leg, Torso, Right Leg --}}
    <div class="damage-grid__row">
        {{#bodyGridRow "row2"}}
        <div class="damage-grid__cell {{#if (locationWasHit ../aggregatedDamage location)}}damage-grid__cell--hit{{else}}damage-grid__cell--empty{{/if}}" data-location="{{location}}">
            {{#if (locationWasHit ../aggregatedDamage location)}}
            <span class="damage-grid__value">{{getLocationDamage ../aggregatedDamage location}}</span>
            {{else}}
            <span class="damage-grid__icon damage-grid__icon--muted">
                <img src="systems/cp2020/img/chat/{{iconName}}.svg" alt="{{CPLocal iconName}}">
            </span>
            {{/if}}
        </div>
        {{/bodyGridRow}}
    </div>
</div>
