{{!-- Actor sheet's combat tab --}}
<div class="combat-tab">
    <section class="combat-rolls">
        <div class="flexrow flexwrap fillwidth">
            <div class="field roll-initiative">
                <label class="fillwidth action">{{loc "Initiative"}}</label>
            </div>
            <div class="field">
                <input class="roll-initiative-modificator" value="{{initiativeMod}}" placeholder="Modifier">
            </div>
            <div class="field stun-save">
                <label class="fillwidth action">{{loc "StunSave"}}</label>
            </div>
            <div class="field">
                <input class="roll-stun-modificator" value="{{stunSaveMod}}" placeholder="Modifier">
            </div>
            <div class="field death-save">
                <label class="fillwidth action">{{loc "DeathSave"}}</label>
            </div>
            <div class="field">
                <input class="roll-death-modificator" value="{{deathSaveMod}}" placeholder="Modifier">
            </div>
            <div class="field condition-toggle">
                <label class="fillwidth">{{loc "Stabilized"}}</label>
                <input type="checkbox" class="toggle-condition" data-condition="stabilized" {{#if (hasStatus actor "stabilized")}}checked{{/if}}>
            </div>
            <div class="field condition-toggle">
                <label class="fillwidth">{{loc "FastDraw"}}</label>
                <input type="checkbox" class="toggle-condition" data-condition="fast-draw" {{#if (hasStatus actor "fast-draw")}}checked{{/if}}>
            </div>
            <div class="field condition-toggle">
                <label class="fillwidth">{{loc "ActionSurge"}}</label>
                <input type="checkbox" class="toggle-condition" data-condition="action-surge" {{#if (hasStatus actor "action-surge")}}checked{{/if}}>
            </div>
        </div>
    </section>
    
    <section class="armor-section">
        <header>
            <h2>{{loc "Armor"}}</h2>
        </header>

        {{> (tpl "actor/parts/armor-display") hitLocations=system.hitLocations hitLocsName="hitLocations"}}
        <div class="field margin-bottom">
            <label for="system.stats.ref.armorMod">{{loc "Encumbrance"}}</label>
            <span class="flex-pad"></span>
            <input type="number" name="system.stats.ref.armorMod" value="{{system.stats.ref.armorMod}}" class="number nogrow not-editable" readonly>
        </div>
        
        <div class="field-list one-col">
            {{#each gear.armor}}
            <div class="field item-edit" data-item-id="{{id}}">
                <div class="field-image" style="background-image: url({{img}})" data-item-id="{{id}}"></div>
                <label class="name">{{name}}</label>
                <span class="flex-pad"></span>
                <span>
                    <label class="inactive">{{coverageSummary system.coverage}}</label>
                </span>
            </div>
            {{/each}}
        </div>
        
    </section>
    <section class="weapons-list">
        <header>
            <h2>{{loc "Weapons"}}</h2>
        </header>
        {{#each gear.weapons as |weapon|}}
            <div class="fire-weapon field action" data-item-id="{{weapon.id}}">
                <div class="no-action field-image item-edit" style="background-image: url({{weapon.img}})" data-item-id="{{weapon.id}}"></div>
                <label class="name">{{weapon.name}}</label>
                <span class="flex-pad"></span>
                <span>
                    {{#with weapon.system}}
                    <div class="field-label inactive">{{#if attackType}}{{attackType}}{{else}}{{weaponType}}{{/if}}</div>
                    {{/with}}
                </span>
            </div>
        {{/each}}
    </section>
</div>