{{!-- Gear Tab --}}
<div class="gear-container">
  {{!-- 1. WEAPONS Block (always visible — unarmed row is permanent) --}}
  <div class="gear-block">
    <header class="tab-header">
      <span class="tab-title">WEAPONS</span>
      <img class="tab-badge" src="systems/cyberpunk/img/ui/badge-weapons.svg" alt="">
    </header>
    <div class="tab-content gear-content">
      {{!-- Unarmed Attack (always first) --}}
      <div class="gear-row" data-item-id="unarmed">
        <div class="gear-icon gear-fire-weapon" data-item-id="unarmed">
          <img src="systems/cyberpunk/img/ui/unarmed.svg" alt="{{loc "UnarmedAttack"}}">
        </div>
        <div class="gear-info gear-fire-weapon" data-item-id="unarmed">
          <span class="gear-name">{{loc "UnarmedAttack"}}</span>
          <span class="gear-context">Melee · 1 m</span>
        </div>
        <div class="gear-price invisible">
          <span class="price-value">0</span>
          <img src="systems/cyberpunk/img/ui/badge-eurodollar.svg" alt="eb">
        </div>
        <div class="gear-weight invisible">
          <span class="price-value">0</span>
          <img src="systems/cyberpunk/img/ui/badge-weight.svg" alt="kg">
        </div>
        <div class="gear-field" style="width: 60px;">
          <span class="field-top">{{unarmedDamage}}</span>
          <span class="field-bottom">Damage</span>
        </div>
        <div class="gear-field" style="width: 60px;"></div>
        <div class="gear-action-btn"></div>
        <div class="gear-actions"></div>
      </div>
      {{#each weapons as |weapon|}}
        <div class="gear-row" data-item-id="{{weapon.id}}">
          <div class="gear-icon gear-fire-weapon" data-item-id="{{weapon.id}}">
            <img src="{{weapon.img}}" alt="{{weapon.name}}">
          </div>
          <div class="gear-info gear-fire-weapon" data-item-id="{{weapon.id}}">
            <span class="gear-name">{{weapon.name}}</span>
            <span class="gear-context">{{weapon.context}}</span>
          </div>
          <div class="gear-price">
            <span class="price-value">{{weapon.price}}</span>
            <img src="systems/cyberpunk/img/ui/badge-eurodollar.svg" alt="eb">
          </div>
          <div class="gear-weight">
            <span class="price-value">{{weapon.weight}}</span>
            <img src="systems/cyberpunk/img/ui/badge-weight.svg" alt="kg">
          </div>
          <div class="gear-field" style="width: 60px;">
            <span class="field-top">{{weapon.damage}}</span>
            <span class="field-bottom">Damage</span>
          </div>
          {{#if weapon.isRanged}}
            {{!-- Ranged: Magazine + Reload button --}}
            <div class="gear-field" style="width: 60px;">
              <span class="field-top">{{weapon.shotsLeft}} / {{weapon.shots}}</span>
              <span class="field-bottom">Magazine</span>
            </div>
            <div class="gear-action-btn reload-weapon" data-item-id="{{weapon.id}}" data-can-reload="{{weapon.canReload}}">
              <img src="systems/cyberpunk/img/ui/badge-reload{{#unless weapon.canReload}}-disabled{{/unless}}.svg" alt="Reload">
            </div>
          {{else if weapon.isExotic}}
            {{!-- Exotic: Charges + Charge button --}}
            <div class="gear-field" style="width: 60px;">
              <span class="field-top">{{weapon.chargesDisplay}}</span>
              <span class="field-bottom">Charges</span>
            </div>
            <div class="gear-action-btn charge-weapon" data-item-id="{{weapon.id}}" data-can-charge="{{weapon.canCharge}}">
              <img src="systems/cyberpunk/img/ui/badge-charge{{#unless weapon.canCharge}}-disabled{{/unless}}.svg" alt="Charge">
            </div>
          {{else}}
            {{!-- Melee: empty field + empty action --}}
            <div class="gear-field" style="width: 60px;"></div>
            <div class="gear-action-btn"></div>
          {{/if}}
          <div class="gear-actions">
            <button class="gear-view" type="button" data-item-id="{{weapon.id}}" title="View">
              <img src="systems/cyberpunk/img/ui/icon-view.svg" alt="View">
            </button>
            <button class="gear-delete" type="button" data-item-id="{{weapon.id}}" title="Delete">
              <img src="systems/cyberpunk/img/ui/icon-trash.svg" alt="Delete">
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  {{!-- 2. ORDNANCE Block --}}
  {{#if ordnanceItems.length}}
  <div class="gear-block">
    <header class="tab-header">
      <span class="tab-title">ORDNANCE</span>
      <img class="tab-badge" src="systems/cyberpunk/img/ui/badge-ordnance.svg" alt="">
    </header>
    <div class="tab-content gear-content">
      {{#each ordnanceItems as |ordnance|}}
        <div class="gear-row" data-item-id="{{ordnance.id}}">
          <div class="gear-icon gear-fire-ordnance" data-item-id="{{ordnance.id}}">
            <img src="{{ordnance.img}}" alt="{{ordnance.name}}">
          </div>
          <div class="gear-info gear-fire-ordnance" data-item-id="{{ordnance.id}}">
            <span class="gear-name">{{ordnance.name}}</span>
            <span class="gear-context">{{ordnance.context}}</span>
          </div>
          <div class="gear-price">
            <span class="price-value">{{ordnance.price}}</span>
            <img src="systems/cyberpunk/img/ui/badge-eurodollar.svg" alt="eb">
          </div>
          <div class="gear-weight">
            <span class="price-value">{{ordnance.weight}}</span>
            <img src="systems/cyberpunk/img/ui/badge-weight.svg" alt="kg">
          </div>
          <div class="gear-field" style="width: 60px;">
            <span class="field-top">{{ordnance.damage}}</span>
            <span class="field-bottom">Damage</span>
          </div>
          <div class="gear-field" style="width: 60px;">
            {{#if ordnance.removeOnZero}}
              <span class="field-top">{{ordnance.charges}}</span>
            {{else}}
              <span class="field-top">{{ordnance.chargesDisplay}}</span>
            {{/if}}
            <span class="field-bottom">Charges</span>
          </div>
          {{#unless ordnance.removeOnZero}}
            <div class="gear-action-btn charge-weapon" data-item-id="{{ordnance.id}}" data-can-charge="{{ordnance.canCharge}}">
              <img src="systems/cyberpunk/img/ui/badge-charge{{#unless ordnance.canCharge}}-disabled{{/unless}}.svg" alt="Charge">
            </div>
          {{else}}
            <div class="gear-action-btn"></div>
          {{/unless}}
          <div class="gear-actions">
            <button class="gear-view" type="button" data-item-id="{{ordnance.id}}" title="View">
              <img src="systems/cyberpunk/img/ui/icon-view.svg" alt="View">
            </button>
            <button class="gear-delete" type="button" data-item-id="{{ordnance.id}}" title="Delete">
              <img src="systems/cyberpunk/img/ui/icon-trash.svg" alt="Delete">
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- 3. OUTFIT Block --}}
  {{#if outfitItems.length}}
  <div class="gear-block">
    <header class="tab-header">
      <span class="tab-title">OUTFIT</span>
      <img class="tab-badge" src="systems/cyberpunk/img/ui/badge-outfit.svg" alt="">
    </header>
    <div class="tab-content gear-content">
      {{#each outfitItems as |armor|}}
        <div class="gear-row" data-item-id="{{armor.id}}">
          <div class="gear-icon">
            <img src="{{armor.img}}" alt="{{armor.name}}">
          </div>
          <div class="gear-info">
            <span class="gear-name">{{armor.name}}</span>
            <span class="gear-context">{{armor.context}}</span>
          </div>
          <div class="gear-price">
            <span class="price-value">{{armor.price}}</span>
            <img src="systems/cyberpunk/img/ui/badge-eurodollar.svg" alt="eb">
          </div>
          <div class="gear-weight">
            <span class="price-value">{{armor.weight}}</span>
            <img src="systems/cyberpunk/img/ui/badge-weight.svg" alt="kg">
          </div>
          <div class="gear-field" style="width: 60px;">
            <span class="field-top">{{armor.sp}}</span>
            <span class="field-bottom">SP</span>
          </div>
          <div class="gear-field" style="width: 60px;">
            <span class="field-top">{{armor.encumbrance}}</span>
            <span class="field-bottom">EV</span>
          </div>
          {{#unless armor.isCyberware}}
            <div class="gear-action-btn toggle-equip" data-item-id="{{armor.id}}" data-equipped="{{armor.equipped}}">
              <img src="systems/cyberpunk/img/ui/badge-outfit{{#unless armor.equipped}}-disabled{{/unless}}.svg" alt="Equip">
            </div>
          {{else}}
            <div class="gear-action-btn"></div>
          {{/unless}}
          <div class="gear-actions">
            <button class="gear-view" type="button" data-item-id="{{armor.id}}" title="View">
              <img src="systems/cyberpunk/img/ui/icon-view.svg" alt="View">
            </button>
            <button class="gear-delete" type="button" data-item-id="{{armor.id}}" title="Delete">
              <img src="systems/cyberpunk/img/ui/icon-trash.svg" alt="Delete">
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- 4. TOOLS Block --}}
  {{#if toolItems.length}}
  <div class="gear-block">
    <header class="tab-header">
      <span class="tab-title">TOOLS</span>
      <img class="tab-badge" src="systems/cyberpunk/img/ui/badge-tool.svg" alt="">
    </header>
    <div class="tab-content gear-content">
      {{#each toolItems as |tool|}}
        <div class="gear-row" data-item-id="{{tool.id}}">
          <div class="gear-icon">
            <img src="{{tool.img}}" alt="{{tool.name}}">
          </div>
          <div class="gear-info">
            <span class="gear-name">{{tool.name}}</span>
            <span class="gear-context">{{tool.context}}</span>
          </div>
          <div class="gear-price">
            <span class="price-value">{{tool.price}}</span>
            <img src="systems/cyberpunk/img/ui/badge-eurodollar.svg" alt="eb">
          </div>
          <div class="gear-weight">
            <span class="price-value">{{tool.weight}}</span>
            <img src="systems/cyberpunk/img/ui/badge-weight.svg" alt="kg">
          </div>
          <div class="gear-field" style="width: 60px;"></div>
          <div class="gear-field" style="width: 60px;"></div>
          <div class="gear-action-btn toggle-tool" data-item-id="{{tool.id}}" data-equipped="{{tool.equipped}}">
            <img src="systems/cyberpunk/img/ui/badge-{{#if tool.equipped}}on{{else}}off{{/if}}.svg" alt="Toggle">
          </div>
          <div class="gear-actions">
            <button class="gear-view" type="button" data-item-id="{{tool.id}}" title="View">
              <img src="systems/cyberpunk/img/ui/icon-view.svg" alt="View">
            </button>
            <button class="gear-delete" type="button" data-item-id="{{tool.id}}" title="Delete">
              <img src="systems/cyberpunk/img/ui/icon-trash.svg" alt="Delete">
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- 5. DRUGS Block --}}
  {{#if drugItems.length}}
  <div class="gear-block">
    <header class="tab-header">
      <span class="tab-title">DRUGS</span>
      <img class="tab-badge" src="systems/cyberpunk/img/ui/badge-drug.svg" alt="">
    </header>
    <div class="tab-content gear-content">
      {{#each drugItems as |drug|}}
        <div class="gear-row" data-item-id="{{drug.id}}">
          <div class="gear-icon">
            <img src="{{drug.img}}" alt="{{drug.name}}">
          </div>
          <div class="gear-info">
            <span class="gear-name">{{drug.name}}</span>
            <span class="gear-context">{{drug.context}}</span>
          </div>
          <div class="gear-price">
            <span class="price-value">{{drug.price}}</span>
            <img src="systems/cyberpunk/img/ui/badge-eurodollar.svg" alt="eb">
          </div>
          <div class="gear-weight">
            <span class="price-value">{{drug.weight}}</span>
            <img src="systems/cyberpunk/img/ui/badge-weight.svg" alt="kg">
          </div>
          <div class="gear-field" style="width: 60px;">
            <span class="field-top">{{drug.quantity}}</span>
            <span class="field-bottom">Qty</span>
          </div>
          <div class="gear-field" style="width: 60px;"></div>
          <div class="gear-action-btn toggle-drug" data-item-id="{{drug.id}}" data-equipped="{{drug.equipped}}">
            <img src="systems/cyberpunk/img/ui/badge-{{#if drug.equipped}}used{{else}}wearoff{{/if}}.svg" alt="{{#if drug.equipped}}Wear Off{{else}}Use{{/if}}">
          </div>
          <div class="gear-actions">
            <button class="gear-view" type="button" data-item-id="{{drug.id}}" title="View">
              <img src="systems/cyberpunk/img/ui/icon-view.svg" alt="View">
            </button>
            <button class="gear-delete" type="button" data-item-id="{{drug.id}}" title="Delete">
              <img src="systems/cyberpunk/img/ui/icon-trash.svg" alt="Delete">
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- 6. COMMODITIES Block --}}
  {{#if gearItems.length}}
  <div class="gear-block">
    <header class="tab-header">
      <span class="tab-title">COMMODITIES</span>
      <img class="tab-badge" src="systems/cyberpunk/img/ui/badge-commodity.svg" alt="">
    </header>
    <div class="tab-content gear-content">
      {{#each gearItems as |item|}}
        <div class="gear-row" data-item-id="{{item.id}}">
          <div class="gear-icon">
            <img src="{{item.img}}" alt="{{item.name}}">
          </div>
          <div class="gear-info">
            <span class="gear-name">{{item.name}}</span>
            <span class="gear-context">{{item.context}}</span>
          </div>
          <div class="gear-price">
            <span class="price-value">{{item.price}}</span>
            <img src="systems/cyberpunk/img/ui/badge-eurodollar.svg" alt="eb">
          </div>
          <div class="gear-weight">
            <span class="price-value">{{item.weight}}</span>
            <img src="systems/cyberpunk/img/ui/badge-weight.svg" alt="kg">
          </div>
          <div class="gear-field" style="width: 60px;"></div>
          <div class="gear-field" style="width: 60px;"></div>
          <div class="gear-action-btn"></div>
          <div class="gear-actions">
            <button class="gear-view" type="button" data-item-id="{{item.id}}" title="View">
              <img src="systems/cyberpunk/img/ui/icon-view.svg" alt="View">
            </button>
            <button class="gear-delete" type="button" data-item-id="{{item.id}}" title="Delete">
              <img src="systems/cyberpunk/img/ui/icon-trash.svg" alt="Delete">
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- 7. AMMO Block --}}
  {{#if ammoItems.length}}
  <div class="gear-block">
    <header class="tab-header">
      <span class="tab-title">AMMO</span>
      <img class="tab-badge" src="systems/cyberpunk/img/ui/badge-ammo.svg" alt="">
    </header>
    <div class="tab-content gear-content">
      {{#each ammoItems as |ammo|}}
        <div class="gear-row" data-item-id="{{ammo.id}}">
          <div class="gear-icon">
            <img src="{{ammo.img}}" alt="{{ammo.name}}">
          </div>
          <div class="gear-info">
            <span class="gear-name">{{ammo.name}}</span>
            <span class="gear-context">{{ammo.context}}</span>
          </div>
          <div class="gear-price">
            <span class="price-value">{{ammo.totalPrice}}</span>
            <img src="systems/cyberpunk/img/ui/badge-eurodollar.svg" alt="eb">
          </div>
          <div class="gear-weight">
            <span class="price-value">{{ammo.weight}}</span>
            <img src="systems/cyberpunk/img/ui/badge-weight.svg" alt="kg">
          </div>
          <div class="gear-field" style="width: 60px;">
            {{#if ../isUnlocked}}
              <input type="number" class="field-top ammo-quantity-input" data-item-id="{{ammo.id}}" value="{{ammo.quantity}}" min="0">
            {{else}}
              <span class="field-top">{{ammo.quantity}}</span>
            {{/if}}
            <span class="field-bottom">Quantity</span>
          </div>
          <div class="gear-field" style="width: 60px;"></div>
          <div class="gear-action-btn"></div>
          <div class="gear-actions">
            <button class="gear-view" type="button" data-item-id="{{ammo.id}}" title="View">
              <img src="systems/cyberpunk/img/ui/icon-view.svg" alt="View">
            </button>
            <button class="gear-delete" type="button" data-item-id="{{ammo.id}}" title="Delete">
              <img src="systems/cyberpunk/img/ui/icon-trash.svg" alt="Delete">
            </button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- Empty inventory message --}}
  {{#unless hasAnyGear}}
  <div class="gear-empty-state">
    <span class="gear-empty-text">No gear in the inventory</span>
  </div>
  {{/unless}}
</div>
