{{!-- Skills Tab --}}
<div class="skills-container">
  <header class="tab-header">
    <span class="tab-title">SKILLS</span>
    <img class="tab-badge" src="systems/cyberpunk/img/ui/badge-skills.svg" alt="">
  </header>

  <div class="tab-content skills-content">
    <div class="skills-column">
      {{#each skillsLeft as |skill|}}
        <div class="skill-row{{#if skill.isVirtual}} virtual-skill{{/if}}" data-skill-id="{{skill.id}}">
          <div class="skill-type-icon">
            {{#if skill.isChipped}}
              <img src="systems/cyberpunk/img/ui/icon-chipped.svg" alt="Chipped" title="Chipped">
            {{else if skill.isSpecial}}
              <img src="systems/cyberpunk/img/ui/icon-special.svg" alt="Special" title="Special Ability">
            {{else if skill.isCareer}}
              <img src="systems/cyberpunk/img/ui/icon-career.svg" alt="Career" title="Career Skill">
            {{/if}}
          </div>
          <span class="skill-attr">{{skill.statLabel}}</span>
          <span class="skill-name skill-roll" data-skill-id="{{skill.id}}">{{skill.name}}</span>
          {{#if ../isLocked}}
            {{!-- Locked mode: show computed level (chipped or normal) --}}
            <span class="skill-value">{{skill.computedLevel}}</span>
            {{#unless skill.isVirtual}}
              <button class="skill-plus" type="button" data-skill-id="{{skill.id}}" title="Increase Skill (+{{skill.ipCost}} IP)">
                <img src="systems/cyberpunk/img/ui/icon-plus{{#unless skill.canIncrease}}-disabled{{/unless}}.svg" alt="+">
              </button>
              <input type="number" class="skill-ip" data-skill-id="{{skill.id}}" value="{{skill.ip}}" min="0">
            {{/unless}}
          {{else}}
            {{!-- Unlocked mode: show base level for editing (virtual skills are read-only) --}}
            {{#if skill.isVirtual}}
              <span class="skill-value">{{skill.computedLevel}}</span>
            {{else}}
              <input type="number" class="skill-value skill-level-input" data-skill-id="{{skill.id}}" value="{{skill.level}}" min="0" max="10" title="Base Level (IP adds +{{skill.ipLevel}})">
              <div class="skill-actions">
                <button class="skill-view" type="button" data-skill-id="{{skill.id}}" title="View">
                  <img src="systems/cyberpunk/img/ui/icon-view.svg" alt="View">
                </button>
                <button class="skill-delete" type="button" data-skill-id="{{skill.id}}" title="Delete Skill">
                  <img src="systems/cyberpunk/img/ui/icon-trash.svg" alt="Delete">
                </button>
              </div>
            {{/if}}
          {{/if}}
        </div>
      {{/each}}
    </div>
    <div class="skills-column">
      {{#each skillsRight as |skill|}}
        <div class="skill-row{{#if skill.isVirtual}} virtual-skill{{/if}}" data-skill-id="{{skill.id}}">
          <div class="skill-type-icon">
            {{#if skill.isChipped}}
              <img src="systems/cyberpunk/img/ui/icon-chipped.svg" alt="Chipped" title="Chipped">
            {{else if skill.isSpecial}}
              <img src="systems/cyberpunk/img/ui/icon-special.svg" alt="Special" title="Special Ability">
            {{else if skill.isCareer}}
              <img src="systems/cyberpunk/img/ui/icon-career.svg" alt="Career" title="Career Skill">
            {{/if}}
          </div>
          <span class="skill-attr">{{skill.statLabel}}</span>
          <span class="skill-name skill-roll" data-skill-id="{{skill.id}}">{{skill.name}}</span>
          {{#if ../isLocked}}
            {{!-- Locked mode: show computed level (chipped or normal) --}}
            <span class="skill-value">{{skill.computedLevel}}</span>
            {{#unless skill.isVirtual}}
              <button class="skill-plus" type="button" data-skill-id="{{skill.id}}" title="Increase Skill (+{{skill.ipCost}} IP)">
                <img src="systems/cyberpunk/img/ui/icon-plus{{#unless skill.canIncrease}}-disabled{{/unless}}.svg" alt="+">
              </button>
              <input type="number" class="skill-ip" data-skill-id="{{skill.id}}" value="{{skill.ip}}" min="0">
            {{/unless}}
          {{else}}
            {{!-- Unlocked mode: show base level for editing (virtual skills are read-only) --}}
            {{#if skill.isVirtual}}
              <span class="skill-value">{{skill.computedLevel}}</span>
            {{else}}
              <input type="number" class="skill-value skill-level-input" data-skill-id="{{skill.id}}" value="{{skill.level}}" min="0" max="10" title="Base Level (IP adds +{{skill.ipLevel}})">
              <div class="skill-actions">
                <button class="skill-view" type="button" data-skill-id="{{skill.id}}" title="View">
                  <img src="systems/cyberpunk/img/ui/icon-view.svg" alt="View">
                </button>
                <button class="skill-delete" type="button" data-skill-id="{{skill.id}}" title="Delete Skill">
                  <img src="systems/cyberpunk/img/ui/icon-trash.svg" alt="Delete">
                </button>
              </div>
            {{/if}}
          {{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
