<div class="cyberpunk-card cyberpunk-card--attack">
    {{!-- Header --}}
    {{> "systems/cp2020/templates/chat/partials/card-header.hbs"}}

    {{!-- Section Bar: Fire Mode (FULL AUTO, THREE-ROUND BURST, SEMI-AUTO) --}}
    {{> "systems/cp2020/templates/chat/partials/section-bar.hbs" icon="gun" label=title}}

    {{!-- Weapon Line --}}
    {{#if weaponName}}
    {{> "systems/cp2020/templates/chat/partials/weapon-line.hbs"}}
    {{/if}}

    {{!-- Formula Bar: Attack formula --}}
    {{#if attackRoll}}
    <div class="formula-bar">
        <span class="formula-bar__text">
            {{#each attackRoll.terms as |term|}}
                {{#if term.results}}
                    1d10
                {{else}}
                    {{#if term.operator}}{{term.operator}}{{else}}+ {{term.number}}{{/if}}
                {{/if}}
            {{/each}}
        </span>
    </div>

    {{!-- Roll Details: Attack roll breakdown --}}
    <div class="roll-details">
        <div class="roll-details__row">
            <span class="roll-details__label">1d10</span>
            <span class="roll-details__value">
                <span class="roll-details__value-text">{{attackRoll._total}}</span>
            </span>
        </div>
        <div class="roll-details__row roll-details__row--dice">
            {{#each attackRoll.terms as |term|}}
                {{#if term.results}}
                    {{#each term.results as |die|}}
                    <div class="d10-badge {{#if (equals die.result 10)}}max{{/if}} {{#if (equals die.result 1)}}min{{/if}}">
                        <span class="d10-badge__value">{{die.result}}</span>
                    </div>
                    {{/each}}
                {{/if}}
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{!-- Section Bar: Range --}}
    {{> "systems/cp2020/templates/chat/partials/section-bar.hbs" icon="range" label=(CPLocalParam range locals.range)}}

    {{!-- Result Row: Hit or Miss --}}
    <div class="result-row result-row--{{#if hit}}success{{else}}failure{{/if}}">
        {{#if hit}}
        <span class="result-row__icon">
            <img src="systems/cp2020/img/icons/chat/success.svg" alt="Success">
        </span>
        {{else}}
        <span class="result-row__icon">
            <img src="systems/cp2020/img/icons/chat/failure.svg" alt="Failure">
        </span>
        {{/if}}
        <span class="result-row__value">{{attackRoll._total}}</span>
        <span class="result-row__target">
            <div class="d10-badge d10-badge--target">
                <span class="d10-badge__value">{{toHit}}</span>
            </div>
        </span>
    </div>

    {{!-- Hit tally for autofire --}}
    {{#if (compare hits ">" 0)}}
    <div class="hit-tally">
        <span class="hit-tally__text">{{CPLocalParam "AutofireHitTally" this}} {{CPLocalParam "AutofireFiredTally" this}}</span>
    </div>
    {{/if}}

    {{!-- Damage Section (only if hit) --}}
    {{#if hit}}
    {{!-- Section Bar: Damage --}}
    {{> "systems/cp2020/templates/chat/partials/section-bar.hbs" icon="damage" label=(CPLocal "Damage")}}

    {{!-- Damage Grid --}}
    {{> "systems/cp2020/templates/chat/partials/damage-grid.hbs" aggregatedDamage=(aggregateDamage areaDamages)}}
    {{else}}
    {{!-- No Hits --}}
    <div class="no-hits">
        <span class="no-hits__text">{{CPLocal "NoHits"}}</span>
    </div>
    {{/if}}
</div>
