<div class="cyberpunk-card cyberpunk-card--save cyberpunk-card--{{saveType}}">
    {{!-- Section Bar: Save Type (SHOCK SAVE or DEATH SAVE) --}}
    {{> (CPTemplate "chat/partials/section-bar.hbs") icon=saveType label=saveLabel}}

    {{!-- Collapsible Roll Container --}}
    {{#each rolls as |rollData|}}
    <div class="roll-container roll-container--collapsed">
        {{!-- Expandable Details (hidden by default) --}}
        <div class="roll-expandable">
            <div class="roll-expandable__inner">
                {{!-- Hint text --}}
                {{#if ../hint}}
                <div class="card-hint">{{../hint}}</div>
                {{/if}}

                {{!-- Formula Bar --}}
                <div class="formula-bar">
                    <span class="formula-bar__text">{{cleanFormula rollData.roll._formula}}</span>
                </div>

                {{!-- Roll Details --}}
                <div class="roll-details">
                    <div class="roll-details__row">
                        <span class="roll-details__label">1d10</span>
                        <span class="roll-details__value">
                            <span class="roll-details__value-text">{{rollData.roll.total}}</span>
                        </span>
                    </div>
                    {{#if rollData.diceInfo}}
                    <div class="roll-details__row roll-details__row--dice">
                        {{#each rollData.diceInfo as |die|}}
                        {{#each die.subrolls as |subroll|}}
                        <div class="dice-badge dice-badge--d10 save-inverted {{subroll.classes}}">
                            <span class="dice-badge__value">{{{subroll.result}}}</span>
                        </div>
                        {{/each}}
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

        {{!-- Result Row (always visible, clickable to expand) --}}
        <div class="result-row result-row--{{#if ../success}}success{{else}}failure{{/if}} roll-toggle">
            {{#if ../success}}
            <span class="result-row__icon"><img src="systems/cp2020/img/icons/chat/success.png" alt="Success"></span>
            {{else}}
            <span class="result-row__icon"><img src="systems/cp2020/img/icons/chat/failure.png" alt="Failure"></span>
            {{/if}}
            <span class="result-row__value">{{rollData.roll.total}}</span>
            <span class="result-row__target">
                <div class="dice-badge dice-badge--d10 {{#if ../success}}save-success{{else}}save-failure{{/if}}">
                    <span class="dice-badge__value">{{../threshold}}</span>
                </div>
            </span>
        </div>
    </div>
    {{/each}}
</div>
