<div>
    <h2>{{loc 'SuppressiveFire'}} – {{weaponName}}</h2>

    <ul class="condensed">
    <li><b>{{loc "RoundsFiredLbl"}}:</b> {{rounds}}</li>
    <li><b>{{loc "FireZoneWidth"}}:</b> {{width}} m</li>
    <li><b>DC:</b> {{saveDC}}</li>
    </ul>

    <hr/>

    <p>{{loc "SuppressiveDesc" save=saveDC rounds=rounds width=width}}</p>

    <p>{{loc "SuppressiveHitsDesc" dmg=dmgFormula}}</p>

    {{#each results as |t idx|}}
    <hr/>
    <h3>{{loc "Target"}} {{calc idx "+" 1}}</h3>

    {{#if (gt t.hitsRoll.total 0)}}
    <div class="damage-tally">
        {{#each t.areaDamages as |damages areaName|}}
        <div>
            <label>{{loc areaName}}</label>   {{!-- areaName уже “Head”, “Torso”… --}}
            <ul>
            {{#each damages}}
                <li>{{loc "Damage"}} {{dmg}}</li>
            {{/each}}
            </ul>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>{{loc "NoHits"}}</p>
    {{/if}}
    {{/each}}
</div>
