{{!-- Structural Damage Points (SDP is a terrible name) --}}
<div class="field-list">
    {{#with system.sdp}}
    <div class="flexcol fillwidth span-two-cells"  title="{{loc "SDPFull"}}">
        <div class="meter-gauge fillwidth">
            <span style="width: calc(100% * ({{value}}/{{max}}));" class="
            {{#if (cmp value "<=" (calc max "/" 2))}}
            danger
            {{/if}}"></span>
        </div>

        <div class="field">
            <label class="larger" for="system.sdp.value" title="{{loc "SDPFull"}}">{{loc "SDP"}}</label>
            <span class="flexrow flex-pad">
                <input type="number" name="system.sdp.value" value="{{value}}"> 
                <span class="nogrow">/</span>
                <input type="number" name="system.sdp.max" value="{{max}}">
            </span>
        </div>
    {{/with}}

    <div class="field">
        <label for="system.sp" title="{{loc "SPFull"}}">{{loc "SP"}}</label>
        <span class="flex-pad"></span>
        <input type="number" class="number nogrow" name="system.sp" value="{{system.sp}}">
        </span>
    </div>
</div>
<div class="field-list">
    {{!-- There's a reason I don't use meter here - it's evil to style, and IE doesn't support it. If anyone playing this is using IE, they're already in the dystopia --}}
    {{#with system.speed}}
    <div class="flexcol fillwidth span-two-cells">
        <div class="meter-gauge fillwidth">
            <span style="width: calc(100% * ({{value}}/{{max}}));" class="
            {{#if (cmp value ">" maneuver)}}
            danger
            {{/if}}"></span>
        </div>
    </div>
    <div class="field">
        {{!-- Make larger to indicate a kind of heading almost --}}
        <label class="larger" for="system.speed.value">{{loc "Speed"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="system.speed.value" value="{{value}}"> 
            <span class="nogrow">/</span>
            <input type="number" name="system.speed.max" value="{{max}}">
            <span class="nogrow">mph</span>
        </span>
    </div>
     <div class="field">
        <label for="system.speed.value">{{loc "Accel"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="system.speed.acceleration" value="{{acceleration}}"> 
            <span class="nogrow">{{loc "MPH"}}</span>
        </span>
    </div>

    {{!-- Accel/decel buttons --}}
    <div class="flexrow">
        <div class="field decel"><label class="fillwidth" style="text-align: center; font-size: larger">-</label></div>
        <div class="field accel"><label class="fillwidth" style="text-align: center; font-size: larger">+</label></div>
    </div>
   <div class="field">
       {{!-- This should I guess be maneuver? But safe works a lot better meaningwise --}}
        <label for="system.speed.value">{{loc "Safe"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="system.speed.maneuver" value="{{maneuver}}"> 
            <span class="nogrow">{{loc "MPH"}}</span>
        </span>
    </div>
    {{/with}}
</div>

{{!-- Fuel --}}
<div class="field-list">
    {{#with system.fuel}}
    <div class="flexcol fillwidth span-two-cells">
        <div class="meter-gauge fillwidth">
            <span style="width: calc(100% * ({{value}}/{{max}}));" class="
            {{#if (cmp value "<" (calc max "/" 3))}}
            danger
            {{/if}}"></span>
        </div>
    </div>
    <div class="field">
        <label class="larger" for="system.speed.value">{{loc "Fuel"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="system.fuel.value" value="{{value}}"> 
            <span class="nogrow">/</span>
            <input type="number" name="system.fuel.max" value="{{max}}">
            <span class="nogrow">{{loc "Gallon"}}</span>
        </span>
    </div>
     <div class="field">
        <label for="system.speed.value">{{loc "Type"}}</label>
        <span class="flexrow flex-pad">
            <input type="text" name="system.fuel.type" value="{{type}}"> 
        </span>
    </div>
    {{!-- There's a reason I don't use meter here - it's evil to style, and IE doesn't support it. If anyone playing this is using IE, they're already in the dystopia --}}

   <div class="field">
        <label for="system.fuel.efficiency">{{loc "Efficiency"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="system.fuel.efficiency" value="{{efficiency}}"> 
            <span class="nogrow">{{loc "MPG"}}</span>
        </span>
    </div>
    {{/with}}
</div>

{{!-- Miscellaneous vehicle-only other --}}
<div class="field-list">
    <div class="field">
        <label for="system.passengers">{{loc "Passengers"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="system.passengers" value="{{system.passengers}}"> 
        </span>
    </div>
    <div class="field">
        <label for="system.maneuverability.value">{{loc "ManeuverabilityFull"}}</label>
        <span class="flexrow flex-pad">
            <input type="number" name="system.maneuverability.value" value="{{system.maneuverability.value}}"> 
        </span>
    </div>
</div>