
{{!-- Use as 
    {{#> systems/cyberpunk/templates/item/item-sheet.hbs}}
        settings tab contents
    {{/systems/cyberpunk/templates/item/item-sheet.hbs}}
 --}}
<form class="cyberpunk {{cssClass}}" autocomplete="off">
    <header class="flexrow nowrap">
        <div class="flexcol item-info">
            <span class="infoline">
                <h1 class="title">
                    <input class="field-value fillwidth" name="name" type="text" value="{{item.name}}" placeholder="{{loc 'ItemName'}}"/>
                </h1>
                <span class="summary inactive">{{> (dynTpl "item/parts/[VAR]/summary.hbs" item.type)}}</span>
            </span>
            <textarea class="flavor" name="system.flavor" placeholder="{{loc 'Flavor'}}">{{system.flavor}}</textarea>
        </div>
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="settings">{{loc 'Settings'}}</a>
        <a class="item" data-tab="notes">{{loc 'Notes'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        
        {{!-- Notes Tab --}}
        <div class="tab" data-group="primary" data-tab="notes">
            {{editor system.notes target="system.notes" button=true owner=owner editable=options.editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="settings">
            
            {{#unless (eq item.type "misc")}}
            {{> (dynTpl "item/parts/[VAR]/settings.hbs" item.type)}}
            {{/unless}}
            {{!-- Not all items have common settings --}}
            {{!-- May be worth instead other settings things just including the template on their own --}}
            {{#if (hasProp item.system "equipped")}}
            {{> (dynTpl "item/parts/commodity/settings.hbs" item.type)}}
            {{/if}}
        </div>
    </section>
</form>