<form class="item-card skill-card {{#unless isLocked}}unlocked{{/unless}}" autocomplete="off">
  {{!-- Header (38px) --}}
  <header class="sheet-header">
    <button class="lock-toggle" type="button" title="{{#if isLocked}}Unlock{{else}}Lock{{/if}} Sheet">
      <img src="systems/cyberpunk/img/ui/{{#if isLocked}}lock{{else}}unlock{{/if}}.svg" alt="">
    </button>

    <span class="header-name">{{item.name}}</span>

    <a class="header-control" data-action="copyUuid" title="Copy UUID">
      <i class="fas fa-passport"></i>
    </a>
    <a class="header-control close" data-action="closeSheet" title="Close">
      <i class="fas fa-times"></i>
    </a>
  </header>

  {{!-- Item Content --}}
  <div class="item-content">
    {{!-- Item Trivia (460×80px) --}}
    <div class="item-trivia">
      {{!-- Portrait (80×80px) --}}
      <div class="item-portrait">
        <img src="{{item.img}}" alt="{{item.name}}">
      </div>

      {{!-- Name+Category Container --}}
      <div class="item-identity">
        <input type="text" class="item-name" name="name" value="{{item.name}}" {{#if isLocked}}readonly{{/if}}>
        <div class="item-category">
          <div class="category-icon">
            <img src="systems/cyberpunk/img/ui/badge-skills.svg" alt="">
          </div>
          <span class="category-label">{{localize "CYBERPUNK.Skill"}}</span>
        </div>
      </div>
    </div>

    {{!-- Tabs Line --}}
    <div class="tabs-line">
      <a class="tab-header {{#if (eq activeTab 'description')}}active{{/if}}" data-tab="description">
        <span class="tab-text">{{localize "CYBERPUNK.Description"}}</span>
      </a>
      <a class="tab-header {{#if (eq activeTab 'details')}}active{{/if}}" data-tab="details">
        <span class="tab-text">{{localize "CYBERPUNK.Details"}}</span>
      </a>
      {{#if isMartial}}
        <a class="tab-header {{#if (eq activeTab 'martial')}}active{{/if}}" data-tab="martial">
          <span class="tab-text">{{localize "CYBERPUNK.Martial"}}</span>
        </a>
      {{/if}}
    </div>

    {{!-- Horizontal Divider --}}
    <div class="divider"></div>

    {{!-- Tab Content --}}
    <div class="tab-content">
      {{#if (eq activeTab 'description')}}
        {{> "systems/cyberpunk/templates/item/parts/skill/tab-description.hbs"}}
      {{else if (eq activeTab 'details')}}
        {{> "systems/cyberpunk/templates/item/parts/skill/tab-details.hbs"}}
      {{else if (eq activeTab 'martial')}}
        {{> "systems/cyberpunk/templates/item/parts/skill/tab-martial.hbs"}}
      {{/if}}
    </div>
  </div>
</form>
